<!-- <button class="modal-btn btn btn-primary" (click)="displayForm() ">+ Ajouter une tâche</button> -->
<!-- <button class="modal-btn btn btn-danger" (click)="deleteTache()">- Supprimer une tâche</button> -->

<br>
<br>
<br>
<div class="subscribe-section">
    <full-calendar id="mycalendar" [options]="calendarOptions" *ngIf="displayCalendar"></full-calendar>
</div>
<form class="modal-bg" #modalBg>
    <div class="modale col-sm-4">
        <h2 class="justify-content-center">Ajouter une tâche</h2>
        <div class="form-group col-sm-8 col-md-auto">
            <label for="title">Titre de la tâche</label>
            <input type="text" class="form-control" id="title" name="titre" [(ngModel)]="tacheToAdd.title" placeholder="Titre :">
        </div>
        <div class="form-group col-sm-8 col-md-auto">
            <label for="startDay">Heure de début</label>
            <input type="datetime-local" class="form-control" id="startDay" name="début" [(ngModel)]="start">
        </div>
        <div class="form-group col-sm-8 col-md-auto">
            <label for="endDay">Heure de fin</label>
            <input type="datetime-local" class="form-control " id="endDay " name="fin" [(ngModel)]="end">
        </div>

        <div class="form-group col-sm-8 col-md-auto">
            <label for="description ">Description de la tâche</label>
            <textarea class="form-control " id="description" rows="4 " name="decription " [(ngModel)]="tacheToAdd.description " placeholder="Description : "></textarea>
        </div>

        <div class="form-group col-sm-8 col-md-auto">
            <label for="affaire">Affaire</label>
            <select class="form-control " id="affaire" rows="4 " name="affaire" [(ngModel)]="titreAffaire" placeholder="Affaire : ">
            <option *ngFor="let aff of listAffaires">{{aff.titre}}</option>
            </select>
        </div>
        <button type="submit " class="btn btn-primary" (click)="addTache() ">Ajouter</button>
        <span class="modal-close " #modalClose (click)="hiddenForm() ">X</span>
    </div>
</form>


<!-- <form>
    <div class="form-group ">
      <label for="exampleInputEmail1 ">Email address</label>
      <input type="email " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp ">
      <small id="emailHelp " class="form-text text-muted ">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group ">
      <label for="exampleInputPassword1 ">Password</label>
      <input type="password " class="form-control " id="exampleInputPassword1 ">
    </div>
    <div class="form-group form-check ">
      <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
      <label class="form-check-label " for="exampleCheck1 ">Check me out</label>
    </div>
    <button type="submit " class="btn btn-primary ">Submit</button>
  </form> -->