.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modale {
    position: relative;
    background-color: white;
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; */
}

.modale button {
    padding: 10px 30px;
    background-color: #2980b9;
    color: white;
    border: " none";
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
}