<br>
<h2 style="text-align: center">Formulaire d'ajout d'une affaire</h2>
<br>


<form class="container">
    <div class="form-group row justify-content-center">
        <label for="titre" class="col-7">Titre : </label>
        <input type="text" name="titre" class="form-control col-7" id="titre" [(ngModel)]="affaire.titre">
    </div>
    <div class="form-group row justify-content-center ">
        <label for="description" class="col-7 ">Description :</label>
        <textarea class="form-control col-7 " name="description" aria-label="With textarea " id="description" rows="4" [(ngModel)]="affaire.description"></textarea>
    </div>
    <div class="form-group row justify-content-center ">
        <label for="reference " class="col-7 ">Reference : </label>
        <input type="text " class="form-control col-7 " name="reference" id="reference " [(ngModel)]="affaire.reference ">
    </div>


    <div class="form-group row justify-content-center ">
        <label for="statut " class="col-7 ">Statut :</label>
        <input type="number " class="form-control col-7 " name="statut" id="statut " [(ngModel)]="affaire.statut ">
    </div>
    <div class="row justify-content-center">
        <button type="submit" class="btn btn-danger" (click)="addAffaire()">Ajouter</button>
    </div>

</form>
<!-- 
idAffaire: number;
reference: string;
titre: string;
description: string;
statut: number; -->