<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="#" class="navbar-brand">bezKoder</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item">
                <a href="/home" class="nav-link" routerLink="home">Home </a>
            </li>
            <li class="nav-item" *ngIf="showAvocatBoard">
                <a href="/avocat" class="nav-link" routerLink="avocat">Avocat Board</a>
            </li>
            <li class="nav-item" *ngIf="showJuridiqueBoard">
                <a href="/juridique" class="nav-link" routerLink="juridique">Juridique Board</a>
            </li>
            <!-- <li class="nav-item">
                <a href="/affaireHome" class="nav-link" routerLink="affaireHome">Gestion des Affaires</a>
            </li> -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="affaireHome" role="button" aria-haspopup="true" aria-expanded="true">Gestion des affaires</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="affaireHome">Liste des affaires</a>
                    <a class="dropdown-item" href="affaireAjout">Ajouter une affaire</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
                <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="nav-link" routerLink="login">Login</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item">
                <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
            </li>
            <li class="nav-item">
                <a href class="nav-link" (click)="logout()">LogOut</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>