<br>
<h1 style="text-align: center;"> LISTE DES AFFAIRES </h1>
<br><br>

<table class="table table-bordered">

    <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>Référence</th>
        <th>Statut</th>
        <th>ID</th>
    </tr>

    <tr *ngFor="let affaire of affaires">
        <td> {{affaire.titre}}</td>
        <td>{{affaire.description}}</td>
        <td>{{affaire.reference}}</td>
        <td>{{affaire.statut}}</td>
        <td>{{affaire.idAffaire}}</td>

    </tr>

</table>